.container {
  display: flex;
  min-height: 100vh;

  .img-side {
    flex: 55%;
    background: url("/assets/main.svg");
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position: center center;
    background-color: #ab173f;
    // animation: color-change infinite 10s;
  }

  .content-side {
    flex: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes color-change {
    0% {
      background-color: rgba(255, 213, 59, 0.169);
    }

    25% {
      background-color: rgba(59, 255, 69, 0.169);
    }
    75% {
      background-color: rgba(59, 101, 255, 0.169);
    }
    100% {
      background-color: rgba(183, 255, 59, 0.169);
    }
  }
}
