.dashboard-container {
  padding: 20px;
  height: 100vh;
  position: relative;
  max-width: 1360px;
  margin: 0 auto;

  .sidebar {
    width: 20% !important;
    position: fixed;
    margin: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 1s all;
  }

  .hide {
    transform: translateX(-120%);
  }

  .content {
    transition: 1s all;
    height: 100%;
  }
}
