/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Lexend Deca";
  src: url("./assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
    format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", serif !important;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"] {
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  height: 48px;
  padding: 0px 8px;
  font-family: "Lexend Deca";
  font-size: 16px;
  color: black;
  width: 100%;
  margin: 10px 0px;
  outline: none;
}

button.btn {
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 48px;
  background-color: rgb(255, 212, 59);
  border-radius: 8px;
  border: 0px;
  margin-top: 10px;
  font-weight: 600;
}

.success-snackbar,
.warning-snackbar,
.error-snackbar {
  background: #292929;
  color: whitesmoke;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    width: 140px;
    height: 90px;
    border-radius: 50%;
    background: #01dc6a;
    position: absolute;
    left: -40px;
    z-index: 1;
    top: -10px;
    filter: blur(56px);
  }
}

.success-snackbar {
  &::before {
    background: #01dc6a;
  }

  .mat-icon {
    color: #01dc6a;
  }
}

.error-snackbar {
  &::before {
    background: #fe3451;
  }

  .mat-icon {
    color: #fe3451;
  }
}

.warning-snackbar {
  &::before {
    background: #ffcc00;
  }

  .mat-icon {
    color: #ffcc00;
  }
}
